section.hero-section {
  position: relative;
  overflow: hidden;

  display: flex;
  min-height: 80vh;

  .text-content {
    flex: 1;
    height: 60vh;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    // background-color: red;
    .role {
      font-size: 2rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .name {
      font-size: 9rem;
      font-weight: 900;
      color: #4a90e2;
      line-height: 1.1;
      letter-spacing: -2px;
      margin: 0;
    }
  }
  .image-content {
    // background-color: yellow;
    width: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    z-index: 5;

    img.profile-pic {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: inherit;
    }
  }
  .quote-content {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 600vh;
    z-index: 3;
    // background-color: blue;
    .quote-mark {
      font-size: 120px;
      line-height: 0.1;
      font-weight: 600;
      color: #4a90e2;
    }
    .summary-text {
      font-size: 16px;
      color: #4d4d4d;
    }
  }
}

// components
.circle {
  position: absolute;
  border: 2px solid #ccc;
  border-radius: 50%;
  // z-index: 0;
  pointer-events: none;
  &.circle-large {
    width: 80%;
    height: 140%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
  }

  &.circle-small {
    width: 60%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
  }
}
